<h1> ENADE Listing. </h1>
<h3> Filtering by course grade = <%= @value %> </h3>
<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Course</th>
      <th>Institution Grade</th>
      <th>Course Grade</th>
      <th>Students Average Grade</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.institution.name, listing_institution_path(course.institution.id) %></td>
        <td><%= link_to course.name, listing_course_path(course.name) %></td>
        <td><%= link_to course.institution.grade, listing_institution_grade_path(course.institution.grade) %></td>
        <td><%= link_to course.grade, listing_course_grade_path(course.grade) %></td>
        <% @groups.each do |group| %>
          <% if group[0] == course.id %>
            <td><%= link_to group[1], listing_average_grade_path(group[1]) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '< View All', listing_index_path %>