<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de verificação do ENADE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='menu'>
	    <%= link_to 'Home', listing_index_path %>
	    <%= link_to 'Manage Institutions', institutions_path %>
	    <%= link_to 'Manage Courses', courses_path %>
      <%= link_to 'Manage Students', students_path %>
    </div>
    <div class='elements'>
      <%= yield %>
    </div>

  </body>
</html>
